.search__bar {
    margin-right: 16px;
    position: relative;
    border: 1.5px solid transparent;
    overflow: hidden;
    align-items: center;
}
.search__bar:focus-within {
    border-color: #fff;
}

.btn__search {
    width: 40px;
    height: 100%;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
}
.input__search {
    height: 100%;
    background-color: transparent;
    font-size: 1rem;
    width: 0;
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.4s linear;
}
.clear {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    margin-right: 5px;
}
.toggle__input {
    width: 200px;
}
@media only screen and (max-width: 640px) {
    .toggle__input {
        width: 100px;
    }
    .btn__search {
        font-size: 14px;
    }
    .search__bar {
        margin-right: 8px;
    }
}
