.footer {
    background-color: #111;
    max-width: 980px;
    margin: 40px auto 0;
    padding: 60px 4%;
}
.social__media__icons {
    display: flex;
}
.social__media__icon {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 4px;
    margin-right: 20px;
}
.footer__contents {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-top: 10px;
    font-size: 13px;
    line-height: 30px;
    flex-wrap: wrap;
}
.footer__content__list {
    list-style: none;
}
.footer__content__list > li:hover {
    text-decoration: underline;
    cursor: pointer;
}
